{% if all_img %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/slider.css" />

	<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/slider.js"></script>
</head>
<body>
<div id="slider-wrap"> 
	<div id='slider'>
		{% for img in first_img %}

		<div class='slide' style='position:absolute;top:0px;left:0px;display:none'>
			<a href='{{ img.href }}'>
			<img src="/media/{{img.image}}" width='300' height='300'>
			<div class='sliderp'>
				<h2>{{img.title}}</h2>
				<p>{{img.description}}</p>
			
			</div>
			</a>
		</div>
	{% endfor %}
		<div class='slide' style='position:absolute;top:0px;left:0px;display:block;'>
			<a href="{{last_img.href}}">
			<img src="/media/{{last_img.image}}" width='300' height='300'>
			<div class='sliderp'>
				<h2>{{last_img.title}}</h2>
				<p>{{last_img.description}}</p>
			
			</div>
			</a>
		</div>
	</div>
	<!--<div class="sli-links">
	{% for i in counter %}
		<span class="control-slide">{{i}}</span>
	{% endfor %}	
		<span class='control-slide active'>{{counter_last}}</span>

	</div> -->
</div>

{%endif%}
</body>
</html>
